.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.create_position {
    position: relative;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}