.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.create_position {
    height: 90vh;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.error {
    padding: 5px;
    border: 2px solid red;
    color: red;
    font-size: 25px;
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
    .create_position {
        display: block;
    }

    .form {
        padding-bottom: 30px;
    }
}
