.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.create_position {
    height: 90vh;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button_position {
    margin-top: 20px;
}