.button {
    padding: 20px 30px;

    display: inline-block;

    border: none;
    border-radius: 10px;

    color: white;
    text-decoration: none;
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: 2px;

    background-image: linear-gradient(to right, var(--primary-gray-color) 0%, var(--primary-blue-color) 51%, var(--primary-gray-color) 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);

    transition: .5s;
}

.button:hover {
    background-position: right center;
}
