.navigation {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 40px;
    text-transform: uppercase;
}

.navigation a {
    color: white;
}

.navigation a:hover {
    background-image: linear-gradient(to right, #282c34 0%, #4830F0 51%, #282c34 100%);
}